@model IEnumerable<TaskForBits.Models.User>

    @foreach (var item in Model)
    {
        <br />
        <div class="row">
            <div class="col-md-1">
                @item.UserID
            </div>
            <div class="col-md-2">
                @item.Name
            </div>
            <div class="col-md-2">
                @item.DateOfBirth.ToShortDateString()
            </div>
            <div class="col-md-1">
                @item.Married
            </div>
            <div class="col-md-2">
                @item.Phone
            </div>
            <div class="col-md-2">
                @item.Salary
            </div>
            <a class="col-md-1, edit-button" href="/Home/EditUser?UserID=@item.UserID">EDIT</a>
            <a class="col-md-1, delete-button" href="/Home/DeleteUser?UserID=@item.UserID">DELETE</a>
        </div>
    }
</div>