@model IEnumerable<TaskForBits.Models.User>

    @foreach (var item in Model)
    {
        <br />
        <div class="row">
            <div class="col-md-1">
                @item.UserID
            </div>
            <div class="col-md-2">
                @item.Name
            </div>
            <div class="col-md-2">
                @item.DateOfBirth.ToShortDateString()
            </div>
            <div class="col-md-1">
                @item.Married
            </div>
            <div class="col-md-2">
                @item.Phone
            </div>
            <div class="col-md-2">
                @item.Salary
            </div>
            <div class="col-md-1">
                @Html.ActionLink("Edit", "EditUser", "Home", new { UserId = item.UserID }, new { @class = "btn btn-warning" })
            </div>
            <div class="col-md-1">
                @Html.ActionLink("Delete", "DeleteUser", "Home", new { UserId = item.UserID }, new { @class = "btn btn-danger" })
            </div>
        </div>
    }
</div>